{% extends 'base.html.twig' %}

{% block title %}Elternsprechtag 2021{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Elternsprechtag 2021</h3>
            <p class="card-text">Folgen Sie den Anweisungen, um einen Termin für den Elternsprechtag 2021 zu vereinbaren.</p>
            <a href="{{ path('app_login') }}" class="card-link">Zur Lehrer-Anmeldung</a>
            <a href="{{ path('appointment_new') }}" class="card-link">Termin vereinbaren</a>
        </div>
    </div>

{% endblock %}
