<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ELternsprechtag 2021{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('index') }}">
                        {#<img src="{{ asset('logo.jpg') }}" alt="" width="30" height="24" class="d-inline-block align-top">#}
                        Elternsprechtag 2021
                    </a>
                </div>
            </nav>
        {% endblock %}
        <div class="container ptop">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
